body {
    font-family: 'Inter', sans-serif;
    background-color: #f5efef; /* Tailwind's gray-100 */
}
#login-card {
    background-color: #F8F7F4;
    box-shadow: none;
    padding: 28px;
    border: 3px solid black;
    margin: 28px;
    border-radius: 28px;
    box-shadow: 7px 7px black;
    margin-top: 0
}
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    padding: 8px;
}
.logo img {
    max-width: 30%;
    max-height: 100%;
}
#login-button {
    background-color: white;
    border: 2px solid black;
    transition: transform 0.3s ease;
    color: blue;
    box-shadow: 4px 4px black;
}
#login-button:hover {
    background-color: blue;
    color: white;
    transform: translateY(-4px);
    border: none;
    box-shadow: none;
    transition: all 0.5s ease;
}
